* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-repeat: no-repeat;
    background: url(./img/Phong-nen-mau-xanh-cong-ty-365_14.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.margin-40 {
    margin: 40px;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.mt-8 {
    margin-top: 8px;
}

#header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    border-radius: 30px;
    border-bottom: 1px solid #fff;
}
#header.sticky {
    background-color: rgb(240, 252, 247);
    opacity: 0.7;
}
#header.sticky li a {
    color: #000;
}
#header.sticky .shop-icon,
#header.sticky .signin-icon,
#header.sticky span
{
    color: #000;
}

#nav {
    display: inline-block;
    
}

#nav li {
    position: relative;
}
#nav > li {
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
}
#nav > li > a {
    color:white;
    font-weight: 600;
    text-transform: uppercase;
    
}
#nav  li  a {
    text-decoration: none;
    line-height: 60px;
    padding: 0 24px;
    display: block;
    position: relative;
}
#nav > li >a::after{
    content: "";
    height: 2px;
    width: 0;
    background-color: #265fda;
    position: absolute;
    bottom: 15px;
    left: 22px;
    transition: all 0.5s ease-in-out;
}
#nav > li > a:hover::after{
    width: 50%;
   
}
#nav li:hover .subnav {
    display: block;
    transition: 0.6s;
    
    
}
#nav .subnav li:hover a, #nav > li:hover > a {
    color: rgb(76, 231, 179);
    transition: 0.5s;
    
}
#nav .subnav{
    min-width: 160px;
    display: none;
    background-color: #fff;
    opacity: 0.7;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0,0 , 0.2);
    border-radius: 20px;
    animation: dropdown 0.5s;
}
@keyframes dropdown {
    from {
        transform: translateY(50%);
    }
    to{
        transform: translateY(0);
    }
}
#nav .subnav a {
    color: #000;
    padding: 0 12px ;
    line-height: 38px;
    position: relative;
    display: inline-block;
}
#nav .subnav a::after{
    content: "";
    height: 2px;
    width: 0;
    background-color: #265fda;
    position: absolute;
    bottom: 6px;
    left: 12px;
    transition: all 0.5s ease-in-out;
}
#nav .subnav a:hover::after{
    width: 65%;
}
#nav .nav-arrow-down {
    font-size: 14px;
}


#header .search {
    display: inline-block;  
    margin-left: 60px;
}
#header .search-bttn{
    position: absolute;
    background: #fff;
    height: 40px;
    padding: 10px;
    margin-top: -26px;
    border-radius: 40px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.89);
   
}


.search-bttn input{
    background: none;
    border: none;
    outline: none;
    float: left;
    font-weight: 600;
    padding: 0;
    font-size: 14px;
    line-height: 23px;
    width: 0px;
    transition: all 0.9s;
}

.search-bttn:hover input{
    width: 240px;
    padding: 0 6px;
}

.search-bttn input:focus{
    width: 240px;
    padding: 0 6px;
}

.search-icon{
    background: none;
    outline: none;
    border: none;
    width: 18px;
    margin-top: -14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-icon i {
    background: #e04343;
    z-index: 1;
    margin-top: 3px;
    font-size: 14px;
    color: #fff;
    padding: 14px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(5, 0, 0, 0.979);

}
#header .signin:hover {
    background: linear-gradient(70deg, #03e6f5, #f471b5,#feeb3e,#03b3f8);
    background-size: 200%;
    animation: glow 6s linear infinite;
    cursor: pointer;
    border-radius: 50px;
}
@keyframes glow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 700%;
    }
}

#header .signin {
    float:right;
    height: 50px;
    width: 120px;
    padding: 1px 21px;
    margin: 5px 100px 0 0;
    border: 2px solid cyan;
    border-radius: 50px;
    
}
#header .signin a {
    text-decoration: none;
}

#header .signin-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}
.signin span {
    color: #fff;
    font-style: italic;
    font-weight: 500;
}
.shop-icon {
    float: right;
    padding: 8px 15px;
    font-size: 30px;
    color: #fff;
}
#slider {
    width: 100%;
    height: 750px;
    overflow: hidden;
    margin-bottom: 50px;
}
.navigation-manual {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.manual-btn{
    width: 20px;
    height: 20px;
    border: 2px solid #03e6f5;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
}
.manual-btn:hover{
    background: rgb(71, 219, 157);
    transition: .6s;
    border: 2px solid #e04343;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
#radio5:checked ~ .first {
    margin-left: -80%;
}

.sliders {
    width: 500%;
    height: 100%;
    display: flex;

}
.sliders input {
    display: none;
}
.slide {
    width: 20%;
    transition: .6s;

}
.slide img {
    width: 100%;
    height: 100%;
}

/*.carousel-item .carousel-caption{
    top: 100px;
    right: 20px;
    color: #0f0f0f;
    margin-right: 80px;
    margin-left: 60px;
    animation: caption 1s ease;
    
}
@keyframes caption {
    from {
        transform: translate(0,-300px);
    }
    to {
        transform: translate(0,0);
    }
}
.carousel-item .carousel-caption
.carousel-item .carousel-caption h5 {
    font-size: 40px;
}
.carousel-item .carousel-caption p {
    font-size: 17px;
    text-shadow: 0 0 1px #0f0f0f;
    line-height: 1.4;
}

.carousel-inner img{
    height: 700px;
}*/

.box-text {
    background: url(./img/bg1.png) no-repeat top;
    min-height: 215px;
    background-size: contain;
    padding: 15px 0;
}
.box-text h3 {
    text-align: center;
    width: 100%;
}
.box-text .phucvu {
    text-align: center;
    font-size: 30px;
    color: #5ba503;
    
}
.box-text .phucvu span:last-child {
    border: none;
}
.box-text .phucvu span {
    border-right: 2px solid #8f7872;
    padding: 0px 5%;
    margin: 10px 0;
}
.box-text h1 {
    text-align: center;
}
.box-text .icon-home, h3 {
    width: 93px;
    height: 50px;
    color: #8f7872;
    
}

.sp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #5ba503;
}
.sp .item {
    width: 22%;
    background:rgb(120, 230, 184);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    overflow: hidden;
    transition: transform 0.4s;
}
.sp .item:hover {
    transform: translate(0,-10px);
}

div.item > div {
    overflow: hidden;
}
div.img img:hover {
    transform: scale(1.2);
}

.img img {
    width: 100%;
    transition: transform 1s;   
}
.sp .item .item-top {
    overflow: hidden;
    position: relative;
}
.sp .item .buy {
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-color: #03e6f5;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: -45px;
    transition: 0.3s ease-in;
    opacity: 0.7;
}
.sp .item:hover .buy {
    bottom: 0px;
}

.body-item .body-item-p,
.body-item .body-item-h1 {
    margin-left: 30px;
    padding: 10px 10px;
}



#btn-play {
    display: flex;
    max-width: 960px;
}
.btn-play .bt a{
    text-decoration: none;
}
#wrapper {
    margin-left: 100px;
    display: flex;
    max-width: 960px;
}
#wrapper .bt {
    padding: 15px 25px;
    border: 1px solid #333;
    display: inline-block;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
#wrapper .bt:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:#e04343;
    left: -100%;
    top: 0;
    transition: all 0.5s ease;
    z-index: -1;
}
    
#wrapper .bt:hover::before {
    left: 0;
    
}
#wrapper .bt span {
    z-index: 10;
}
#wrapper .bt:hover span {
    transition: all 0.5s ease-in-out;
    color: rgb(74, 221, 74);
}
.chart {
    background-color: #fff;
}
.chart h2 {
    text-align: center;
}
.chart-layout {
    margin: 0 auto 0 auto;
    padding: 32px 0;
    height: 320px;
    display: flex;
    justify-content: space-around;
}
.chart-layout__item {
    align-self: flex-end;
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #4547f0;
    
}
.chart-layout__item.show{
    animation: growth ease-in 1s;
}
@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}
#contact {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}
#contact .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
}
#contact .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.7;
}
.contact-content {
    margin-top: 48px;
    display: flex;
}
.contact-info {
    font-size: 18px;
    line-height: 1.4;
    width: 50%;
    font-weight: 500;
}
.contact-info p {
    margin-bottom: 0;
}
.contact-info a {
    color: #0000ee;
    opacity: 0.8;
}
.contact-info a:hover {
    opacity: 1;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 17px;
    margin-top: 15px;
    border: none;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    float: right;
}
.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
#footer {
    background-color: #000;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}
#footer .footer-logo img {
    width: 200px;
    height: 200px;
}
#footer .footer-info{
    font-size: 23px;
}
#footer .footer-address div:first-child,
#footer .footer-info div:first-child {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
#footer .footer-info a {
    text-decoration: none;
    color: #ccc;
}
#footer .footer-address {
    font-size: 23px;
    color: #ccc;
}
#footer .footer-address i[class*="ti-"],
#footer .footer-info i[class*="ti-"] {
    width: 35px;
    display: inline-block;
    color: #ec0f0f;
}
#gotop {
    width: 40px;
    height: 40px;
    background-color: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: -40px;
    right: 20px;
    transition: .4s;
}
#gotop.show{
    bottom: 40px;
}
#gotop:hover{
    background-color: #e04343;
    cursor: pointer;
}





